@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Montserrat');

$family-sans-serif: 'Montserrat', sans-serif;
$primary: #188eac !default;

$tabs-link-active-color: $primary;
$tabs-link-active-border-bottom-color: $primary;

@import "../node_modules/bulma/bulma.sass";
$hero-darken: $dark !default;

@import "layout";
@import "syntax";
@import "showcase";
@import "../node_modules/bulma-block-list/src/block-list.scss";

.gh-sponsor {
  color: #ea4aaa;
}

div.content > p > img {
  box-shadow: inset 0 0 1em #0005, 0 0 1em black;
  border-radius: 20px;
}

a.button.is-discord {
  color: #fff;
  background-color: #6f85d3;
  border-color: transparent;
}

a.button.is-reddit.is-focused,
a.button.is-reddit:focus {
  color: #fff;
  background-color: #8b9ff5;
  border-color: transparent
}

a.button.is-reddit.is-hovered,
a.button.is-reddit:hover {
  color: #fff;
  background-color: #4f5f95;
  border-color: transparent
}

a.button.is-reddit.is-active,
a.button.is-reddit:active {
  color: #fff;
  background-color: #6f85d3;
  border-color: transparent
}

a.button.is-reddit[disabled],
fieldset[disabled] a.button.is-reddit {
  background-color: #a16fd3;
  border-color: transparent;
  box-shadow: none
}
